<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <table class="table is-bordered">
  		<thead>
		<tr>
			<th>Poster</th>
			<th>Title</th>
			<th>Year</th>
			<th>Remove</th>
			<th>Watched</th>
		</tr>
		</thead>
		<tbody>
		{% for item in favMovies %}
			<tr>
				<td><img src="{{ item.poster }}" width=100px; height=150px;></img></td>
				<td><h1> {{ item.title }} </h1></td>
				<td><h2> {{ item.rated }}</h2></td>
				<td>
					<form method="POST" action="/delete/{{item._id}}">
						<button class="button is-danger">Remove</button>
					</form>
				</td>
				<td>
					{% if item.watched == 'true' %}
					<form method="POST" action="/unwatch/{{item._id}}">
						<button class="button is-primary is-outlined">Watched</button>
					</form>
					{% else %}
					<form method="POST" action="/watched/{{item._id}}">
						<button class="button is-primary">Watch</button>
					</form>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
    </div>
  </section>
  </body>
</html>